/* About */
.top {
    margin-top: 80px;
}

.about {
    margin-bottom: 40px;
}

/* Skills */
.icon {
    font-weight: 400;
    margin-right: 5px;
    margin-left: 16px;
    font-size: 33px;
}

.text-icon {
    margin-top: -10px;
    margin-left: 33px;
    margin-bottom: 20px;
}

/* Portofolio */
.card:hover {
    opacity: 50%;
}

/* footer */
.text-footer {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.icon-f {
    margin-right: 10px;
    margin-bottom: 20px;
}

.icon-f:hover {
    opacity: 50%;
}

.copyright {
    margin-bottom: 30px;
}

/* Error page */
.img img {
    width: 400px;
    height: 320px;
    margin-left: -30px;
}

.tombol-error {
    margin-left: 93px;
}

/* Ultility */
span {
    font-weight: 630;
}

.text-title {
    color: rgb(79, 152, 170);
}

a {
    text-decoration: none;
    color: black;
}

@media (min-width: 992px) {
    .about {
        margin-top: 100px;
    }

    .skills {
        margin-top: 30px;
    }

    .porto {
        margin-top: 30px;
    }

    .text-footer {
        margin-top: 50px
    }

    .img img {
        width: 800px;
        height: 620px;
        margin-left: -130px;
    }

    .tombol-error {
        position: relative;
        z-index: 1;
        margin-top: -40px;
        margin-left: 480px;
    }
}